<%= link_to "Sign Out", logout_path %>
<% provide(:button_text, "Create New Link") %>
<div class="new-link">
  <h2>Create New Link</h2>
  <br><br>
  <%= render partial: "form" %>
</div>
<br>
<div class="search-box">
  <%= form_tag('#') do %>
    <%= label_tag(:search) %>
    <%= text_field_tag(:search) %>
  <% end %>
</div>
<br>
<div class="links">
  <% @links.each do |link| %>
    <% if link.valid? %>
      <div class="link <%= link.read ? "read-link link-#{link.id}": "unread-link link-#{link.id}"%>">
        <div class="title">
          Title: <%= link.title %>
        </div>
        <div class="url">
          URL: <%= link.url %>
        </div>
        <div class="read-status" data-id="<%= link.id %>">
          Read: <%= link.read %>
        </div>
        <% if link.read %>
          <div class="read">
            <%= link_to "Mark as Unread", '#' %>
          </div>
        <% else %>
        <div class="unread">
          <%= link_to "Mark as Read", '#' %>
        </div>
        <% end %>
        <%= link_to "Edit", edit_link_path(link.id) %>
      </div>
    <% end %>
  <% end %>
</div>
